@model  List<MvcCv.Models.Entity.TblEgitimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
</br>
<h2>Deneyim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Alt Başlık 2</th>
        <th>GNO</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Baslik</td>
            <td>@x.AltBaslik1</td>
            <td>@x.AltBaslik2</td>
            <td>@x.GNO</td>
            <td>@x.Tarih</td>
            <td><a href="/Egitim/EgitimSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Egitim/EgitimGuncelle/@x.ID" class="btn btn-success">Güncelle</a></td>
        </tr>


    }
</table>
<a href="/Egitim/EgitimEkle/" class="btn btn-primary">Yeni Eğitim Ekle</a>
