﻿@model MvcCv.Models.Entity.TblHakkimda
@{
    ViewBag.Title = "HakkimdaGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<h3 class="container"> Hakkımda Güncelleme Sayfası</h3>
<form method="post" class="form-control-feedback">
    @Html.HiddenFor(x => x.ID)
    <label>Ad</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <label>Soyad</label>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    <br />
    <label>Adres</label>
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
    <br />
    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
    <br />
    <label>Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <label>Resim </label>
    @Html.TextBoxFor(x => x.Resim, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>


